@using NSE.WebApp.MVC.Extensions
@model IEnumerable<NSE.WebApp.MVC.Models.Pedido.OrderViewModel>

@{
    ViewData["Title"] = "Meus Pedidos";
}

<section class="padding-y">
    <div class="container">

        @{
            foreach (var pedido in Model.OrderBy(p=>p.Date))
            {
                <div class="col-md-12" style="padding-bottom: 35px">
                    <article class="card">
                        <header class="card-header">
                            <b class="d-inline-block mr-3">Pedido ID: #@pedido.Code @Html.Raw(this.ShowStatus(pedido.Status))</b>
                            <span>@pedido.Date.ToLongDateString()</span>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-muted">Pagamento</h6>
                                    <span class="text-success">
                                        <i class="fas fa-credit-card"></i>
                                        Transação em cartão de crédito
                                    </span>

                                    <p>
                                        <span class="b">Total:  @this.FormatCurrency(pedido.Amount)</span>
                                    </p>

                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted">Endereço de entrega</h6>
                                    <p>
                                        @pedido.Address.ToString()
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <ul class="row">
                                @{
                                    foreach (var item in pedido.OrderItems)
                                    {
                                        <li class="col-md-4">
                                            <figure class="itemside  mb-3">
                                                <div class="aside">
                                                    <img src="~/images/produtos/@item.Image" alt="@item.Name" class="border img-xs">
                                                </div>
                                                <figcaption class="info">
                                                    <p>
                                                        <b>@item.Name</b>
                                                    </p>
                                                    <span>@this.UnitByProductAmount(item.Quantity, item.Price) </span>
                                                </figcaption>
                                            </figure>
                                        </li> 
                                    }
                                }
                            </ul>
                        </div>
                    </article>
                </div>
            }
        }
    </div>
</section>