@using NSE.WebApp.MVC.Models.Paginacao;
@model IPagedList

<nav>
    <ul class="pagination justify-content-center">
        @{
            for (var i = 1; i < Model.TotalPages + 1; i++)
            {
                if (i == Model.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link" asp-action="@Model.ReferenceAction" asp-route-pageIndex="@i" asp-route-pageSize="@Model.PageSize"
                            asp-route-query="@Model.Query">
                            @i
                            <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="@Model.ReferenceAction" asp-route-pageSize="@Model.PageSize" asp-route-pageIndex="@i"
                            asp-route-query="@Model.Query">@i</a>
                    </li>
                }
            }
        }
    </ul>
</nav>